.address-container {
    width: 240px;
    cursor: pointer;
}

.address-info-container {
    background-color: var(--beige);
}

.address-title-radio {
    width: fit-content;
}

.add-new-address {
    background-color: var(--beige);
    width: 240px;
    cursor: pointer;
}

.add-new-address-img-container {
    height: 80px;
}

.add-new-address-img {
    height: 100%;
}