.container-main {
    border-width:3px !important;
    background-color: var(--beige);
}

.header-info{
	color: var(--red-secondary);
	line-height: 2;	
}

.next-button{
	margin-right: 3 !important;
	margin-bottom: 3 !important;
}


div.ReactTags__tags {
	position: relative;
}
  
div.ReactTags__tagInput {
	width: 200px;
	margin: 3;
	padding: 4px;
	border-radius: 2px;
	display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
	height: 31px;
	margin: 3px;
	font-size: 14px;
	width: 100%;
	border: 1px solid #eee;
	padding: 4px;
}

div.ReactTags__selected span.ReactTags__tag {
	border: 1px solid #ddd;
	background: rgb(255, 255, 255);
	font-size: 14px;
	line-height: 16px;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	cursor: move;
	border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
	color: #aaa;
	margin-left: 10px;
}
