.category-title {
  background-color: var(--beige);
  color: var(--red-secondary);
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.products-container {
  display: flex;
  margin-top: 10px;
  padding: 2rem 3rem 2rem 3rem;
}

.filters {
  background-color: var(--beige);
  margin-right: 30px;
  width: 30%;
  height: 700px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 20px;
}

.filters h2 {
  font-size: 20px;
  color: var(--red-secondary);
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
}

.product-card-container {
  margin: 10px 10px;
}

.btn.btn-secondary.dropdown-toggle {
  background-color: var(--red-tertiary);
  color: white;
}

.dropdown.show.type {
  margin-right: 10px;
}

.sort-container {
  display: flex;
}

.sortby-text {
  margin-right: 15px;
}