.product-details {
  display: flex;
  flex-flow: row wrap;
}

.product-container {
  display: table;
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-left-column {
  position: relative;
  float: left;
  text-align: center;
}

.product-right-column {
  position: relative;
  float: left;
  width: 35%;
  margin-left: 10%;
}

.product-left-column img {
  border-radius: 10px;
  width: auto;
  height: 380px;
}