html, body {
    height: 100%;
    margin: 0;
    background-color: #FFFAEF;
}


.signInModal {
    position: absolute;
    background-color: #FBEBD8;
    left: 28.4%;
    right: 28.4%;
    width: 43.2%;
    top: 6%;
    border-radius: 20px;

}

.formContainer {
    
    margin-left: auto;
    margin-right: auto;
    width: 76.38%;
    margin-top: 15%;
    margin-bottom: 7.13%;

    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    
}

.logo{
    width: 80%;
    margin: auto;
    margin-bottom: 3.5em;
    border-radius: 5px;
    display: block;
}

.formInputBox {

    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    height: 3em;
    letter-spacing: 0.75px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.submitButton {

    background: #EC4A3B;
    border: none;
    border-radius: 5px;
    margin: auto;

    display: block;
    height: 3.5em;
    width: 8em;

}

.submitButtonTransparent {
    background: #FBEBD8;
    border: none;
    margin: auto;
    margin-top: 0.5em;
    display: block;
    text-align: center;

    color: #EC4A3B;
    height: 3.5em;
    width: 10em;
}

.submitButtonTransparent:hover {

    background: #fce1c0;
    color: #EC4A3B;

}
    

.submitButton:hover {

    background: #ff6b5d;
}

.maps-container{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
}

.google-signin-button {
    display: inline-block;
    width: min-content;
}

.google-signin-button-container {
    text-align: center;
}

.sign-in-link {
    color: #EC4A3B;
}
