.list-title {
  background-color: var(--beige);
  color: var(--red-secondary);
  font-size: 24px;
  font-weight: bold;
}

.list-container {
  display: flex;
  margin-top: 10px;
  padding: 2rem 3rem 2rem 3rem;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
}

.product-card-container {
  margin: 10px 10px;
}