body {
    --red-main: rgb(223, 75, 75);
    --red-secondary: rgb(194, 27, 27);
    --beige: rgb(255, 236, 224);
    --white: white;
}

body * {
    box-sizing: border-box;
}

.page-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    padding: 50px;
}

.vertical-align-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}