html {
    background-color: white;
}

body {
    --red-main: #D11D27;
    --red-secondary: #A90011;
    --red-tertiary: #EC4A3B;
    --beige: #FFFAEF;
    --white: white;
    --surface: #FAFAFA;

    background-color: var(--white);
}

body * {
    box-sizing: border-box;
}

.page-container {
    background-color: white;
}

.vertical-align-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

input:focus {
    outline: none;
}

.cursor-pointer {
    cursor: pointer;
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}