.comment-container {
  border: solid #a90011 2px;
  border-radius: 8px;
  padding: 1%;
}

.comments-container {
  background-color: #fffaef;
  width: 80%;
  padding-left: 1%;
  padding-right: 1%;
}

h2 {
  font-size: 36px;
  color: #a90011;
}