.product-order{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1%;
}

.product-order-info {
  display: flex;
  flex-direction: column;
  width: 15%;
  font-size: 18px;
}

.product-image {
  height: auto;
  width: 100%;
}

.product-image-container {
  width: 15%;
}

.order-details-container {
  width: 100%;
}

.order-details-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}

.order-button-container {
  display: flex;
  flex-direction: column;
}

.order-page-button {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  background-color: var(--red-tertiary);
  color: white;
  border: solid;
  border-radius: 10px;
  margin-bottom: 10%;
}

.add-comment-button {
  text-align: center;
  padding: 10px;
  font-size: 15px;
  background-color: var(--red-tertiary);
  color: white;
  border: solid;
  border-radius: 10px;
}

.address-container {
  width: 100%;
  font-size: 20px;
}

.dialog-rating {
  display: flex;
}