.product-purchase-container {
  background-color: var(--beige);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px;
  margin-top: 10px;
}

.product-purchase-options-container {
  
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-purchase-label {
  text-align: center;
  color: #ec4a3b;
  font-size: 20px;
  padding: 5px;
  
}

.product-price {
  font-size: 36px;
  color: #a90011;
  position: relative;
}

.product-purchase-amount input {
  text-align: center;
  border-radius: 10px;
  border: solid #fbebd8;
}

.product-add-to-cart-container {
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.product-add-to-cart-container button {
  text-align: center;
  padding: 10px;
  box-shadow: 5px 10px;
  font-size: 24px;
  background-color: var(--surface);
  border: solid;
  border-radius: 10px;
  color: #ec4a3b;
}

.width-machine {
  padding: 0 1rem;
}