.pc-container {
    display: inline-block;
}

.pc-img-container {
    height: 168px;
    width: 223px;
}

.pc-img {
    height: 100%;
    width: 100%;
}

.pc-info {
    background-color: var(--surface);
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
    box-shadow: 0 8px 3px -3px rgba(0, 0, 0, 0.137);

    padding: 13px;
}

.pc-name, .pc-price {
    font-size: 18px;
    color: var(--red-secondary);
}

.pc-name {
    min-height: 53px;
}

.pc-info-bottom {
    display: flex;
    justify-content: space-between;
}